/* section1 */
#aboutme {
  width: 100%;
  height: 100%;
}
#aboutme .section1 {
  background-color: #eb5d62;
  width: 100%;
  height: 180px;
  color: white;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 120em 120em;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* section2 */
#aboutme .section2 .column1,
#aboutme .section2 .column2 {
  display: flex;
  width: 100%;
  height: 100%;
}
#aboutme .section2 .content_box {
  width: 33.33%;
  height: 400px;
  background-color: #eb5d62;
  box-sizing: border-box;
}
#aboutme .section2 .content_box.first {
  border-radius: 70% 0 0 0;
  position: relative;
}
#aboutme .section2 .content_box.first::after {
  content: "열정적인";
  position: absolute;
  top: 300px;
  left: 260px;
  color: white;
  font-size: 3vw;
}
#aboutme .section2 .content_box.second {
  border-radius: 40%;
  background: url(../image/IMG_0312.JPG) center center;
  background-size: cover;
}
#aboutme .section2 .content_box.second:hover {
  transform: translateY(180deg);
  transition: all 0.7s ease-in-out;
  transform: rotateY(180deg);
}
#aboutme .section2 .content_box.third {
  border-radius: 0 80% 0 80%;
  background-color: #5cc9c2;
}
#aboutme .section2 .content_box.fourth {
  border-radius: 0 0 60% 0;
  background: url(../image/IMG_6416.JPG) center center;
  background-size: cover;
}
#aboutme .section2 .content_box.fifth {
  background-color: #344ca4;
  position: relative;
}
#aboutme .section2 .content_box.fifth::after {
  content: "노력파";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vw;
}
#aboutme .section2 .content_box.sixth {
  border-radius: 0 0 0 60%;
  background: url(../image/IMG_1134.JPG) center center;
  background-size: cover;
}
