#aboutme {
  background-color: #ffe9e9;
}
#aboutme .section2 {
  background-color: #eb5d62;
  width: 100%;
  height: 130px;
  color: white;
  font-size: 2.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 120em 120em;
  position: sticky;
  top: 0;
  z-index: 30;
}
/* aboutme section3 */
#aboutme .section3 {
  color: #0e2a93;
  background: #ffe9e9;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  line-height: 160%;
  padding-top: 6vw;
  padding-bottom: 12vw;
  padding-left: 4vw;
  position: relative;
  z-index: 5;
}

#aboutme .section3 p {
  width: 80%;
}
#aboutme .section3 svg {
  position: absolute;
  top: -5%;
  left: 65%;
  width: 30%;
}

/* #aboutme .section3 .character img {
  width: 100%;
  height: 100%;
} */
/* 소통하는 것을 좋아하고 */
#aboutme .section3 em:nth-child(1) {
  border-bottom: 5px solid #ffb1b3;
}
/* 3이 상황 */
#aboutme .section3 p em:nth-child(3) {
  border: 3px solid #ffb1b3;
  padding: 5px;
  border-radius: 60%;
}

/* 인지 */
#aboutme .section3 p em:nth-child(5) {
  background-color: #ffb1b3;
}

/* 긍정적인 */
#aboutme .section3 p em:nth-child(11) {
  background-color: #ffb1b3;
}

.img1,
.img2,
.img3 {
  background-size: cover;
  width: 7%;
  height: 7%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  margin-top: 1%;
}

/* section4 */

#aboutme .section4 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutme .section4 .column1,
#aboutme .section4 .column2 {
  display: flex;
  width: 93vw;
  height: 31vw;
  position: relative;
}

#aboutme .section4 .content_box {
  width: 31vw;
  position: relative;
  aspect-ratio: auto 1/1;
  box-sizing: border-box;
}
#aboutme .section4 .content_box.first {
  border-radius: 0 0 0 70%;
  background-color: #eb5d62;
  cursor: pointer;
  color: white;
  font-weight: 300;
  height: 31vw;
}
#aboutme .section4 .content_box.first.red {
  height: 62vw;
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
#aboutme .section4 .content_box.first p {
  font-size: 1.5em;
  position: absolute;
  top: 17%;
  left: 13%;
}
#aboutme .section4 .passion {
  position: absolute;
  top: 12%;
  left: 4%;
  color: white;
  font-size: 3vw;
  font-weight: 300;
  z-index: 2;
}
#aboutme .section4 .content_box.second {
  perspective: 1000px;
  border-radius: 8%;
  margin-left: 31vw;
}
#aboutme .section4 .challenge {
  position: absolute;
  top: 12%;
  right: 3%;
  color: #0e2a93;
  font-size: 3vw;
  font-weight: 300;
}
.content_box.second .front,
.content_box.second .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 8%;
}
.front img,
.back img {
  width: 100%;
  transition: all 0.6s ease 0.2s;
  border-radius: 20px 20px 0 0;
}
.content_box.second .back {
  transform: rotateY(-180deg);
}
.content_box.second:hover .front {
  transform: rotateY(180deg);
}
.content_box.second:hover .back {
  transform: rotateY(0);
}
#aboutme .section4 .content_box.third {
  border-radius: 80% 0 0 80%;
  background-color: #fdf78f;
  cursor: pointer;
  animation: transition 0.6s ease-in-out;
  left: auto;
  top: 0%;
  position: absolute;
  width: 62vw;
  height: 31vw;
  transform: translateX(31vw);
}
#aboutme .section4 .content_box.third p {
  text-align: end;
  font-size: 1.5em;
  position: absolute;
  top: 35%;
  right: 4%;
  color: #0e2a93;
}
#aboutme .section4 .content_box.fourth {
  border-radius: 0 0 60% 0;
  background: url(../image/IMG_6416.JPG) center center;
  background-size: cover;
  position: absolute;
}
#aboutme .section4 .content_box.fifth {
  background-color: #0e2a93;
  border-radius: 0 20% 20% 0;
  cursor: pointer;
  margin-left: 31vw;
  width: 62vw;
  height: 31vw;
  position: absolute;
  z-index: 2;
}
#aboutme .section4 .content_box.fifth p {
  font-size: 1.5em;
  position: absolute;
  top: 37%;
  left: 7%;
  color: white;
}
#aboutme .section4 .positive {
  position: absolute;
  top: 13%;
  left: 38%;
  color: #fff;
  font-size: 3vw;
  font-weight: 300;
  z-index: 3;
}
#aboutme .section4 .content_box.sixth {
  border-radius: 0 0 0 60%;
  background: url(../image/IMG_1134.JPG) center center;
  background-size: cover;
  position: absolute;
  margin-left: 62vw;
}
.hidden {
  display: none;
}
